<!DOCTYPE html>
<html>
  <head>
    <!--meta-->
    <title>D I S C O V E R Y</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!--styling-->
    <link href="https://fonts.googleapis.com/css2?family=PT+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jost&family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="icon" href="https://res.cloudinary.com/dtoner522/image/upload/v1617636552/DDD/favicon_ovftvv.png"  type="image/x-icon" />


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>
  <%= render 'navbar' %>

  <body>
    <%= yield %>
  </body>